.custom-button {
  display: flex;
  justify-content: center;
  width: auto;
  min-width: 165px;
  height: 50px;
  padding: 0 35px 0 35px;

  font-weight: bolder;
  font-size: 15px;
  line-height: 50px;
  font-family: "Open Sans Condensed";
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: black;
  border: none;
  cursor: pointer;

  &:hover {
    color: black;

    background-color: white;
    border: 1px solid black;
  }

  &.google-sign-in {
    color: white;

    background-color: #4285f4;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    color: black;

    background-color: white;
    border: 1px solid black;

    &:hover {
      color: white;

      background-color: black;
      border: none;
    }
  }
}
